@use "./base/mixins" as *;
@use "./base/variables" as *;
@use "./base/reset";
@use "./base/fonts";
@use "../icons/style.css";

body {
  height: 100vh;
  background-image: url("../images/page-bg.jpg");
  background-size: cover;
  background-position: top center;
  overflow: hidden;
}

.postit {
  position: absolute;
  width: 370px;
  height: 400px;
  padding: 99px 56px 57px 41px;
  margin-left: -175px;
  margin-top: -74px;
  &--green {
    background-image: url("../images/green.png");
  }
  &--pink {
    background-image: url("../images/pink.png");
  }
  &--yellow {
    background-image: url("../images/yellow.png");
  }
}
